.gpu-card {
    display: flex;
    width: 257px;
    padding: 16px !important;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px !important;
    //  margin-bottom: 24px; 
    border-radius: 8px;
    border: 1px solid var(--gray-700, #373737);

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        .left-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;

            .gpu-num,
            .gpu-name {
                color: #FFF;
                font-family: Rubik;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 146.023%;
                text-transform: uppercase;
            }

        }

        .icon {

            display: flex;
            padding: 6px;
            align-items: flex-start;
            border-radius: 8px;
            background: var(--gray-700, #373737);
        }
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;

    }

    .system-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .info {
            display: flex;
            align-items: flex-start;
            gap: 12px;

            .name {
                color: var(--gray-300, #868686);
                /* Rubik/Uppercase Regular */
                font-family: Rubik;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 146.023%;
                /* 20.443px */
                text-transform: uppercase;
            }

            .value {
                color: #FFF;
                /* Rubik/Uppercase Regular */
                font-family: Rubik;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 146.023%;
                /* 20.443px */
                text-transform: uppercase;

            }
        }
    }

    .button {
        display: flex;
        width: 225px;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}

