$orange-25: #FFFCFA;
$orange-50: #FFF0E8;
$orange-100: #FFE0CF;
$orange-200: #FFCFB5;
$orange-300: #FFB58C;
$orange-400: #FF9E69;
$orange-500: #FF8D4E;
$orange-600: #E57F46;
$orange-700: #C3713E;
$orange-800: #99552F;
$orange-900: #66381F;
$orange-950: #331C10;
$orange-990: #190E08;
$gray-10: #FAFAFA;
$gray-15: #E8E8E8;
$gray-25: #D5D5D5;
$gray-50: #C1C1C1;
$gray-100: #ADADAD;
$gray-200: #999999;
$gray-300: #868686;
$gray-400: #727272;
$gray-500: #5E5E5E;
$gray-600: #4B4B4B;
$gray-700: #373737;
$gray-800: #232323;
$gray-900: #0F0F0F;
$blue-50: #EBF5FF;
$blue-100: #E1EFFE;
$blue-200: #C3DDFD;
$blue-300: #A4CAFE;
$blue-400: #76A9FA;
$blue-500: #3F83F8;
$blue-600: #1C64F2;
$blue-700: #1A56DB;
$blue-800: #1E429F;
$blue-900: #233876;
$red-50:  #FDF2F2;
$red-100: #FDE8E8;
$red-200: #FBD5D5;
$red-300: #F8B4B4;
$red-400: #F98080;
$red-500: #F05252;
$red-600: #E02424;
$red-700: #C81E1E;
$red-800: #9B1C1C;
$red-900: #771D1D;
$red-950: #5E2A2A;
$red-990: #402C2C;
$twOrange-50:  #FFF8F1;
$twOrange-100: #FEECDC;
$twOrange-200: #FCD9BD;
$twOrange-300: #FDBA8C;
$twOrange-400: #FF8A4C;
$twOrange-500: #FF5A1F;
$twOrange-600: #D03801;
$twOrange-700: #B43403;
$twOrange-800: #8A2C0D;
$twOrange-900: #771D1D;
$yellow-50: #FDFDEA;
$yellow-100: #FDF6B2;
$yellow-200: #FCE96A;
$yellow-300: #FACA15;
$yellow-400: #E3A008;
$yellow-500: #C27803;
$yellow-600: #9F580A;
$yellow-700: #8E4B10;
$yellow-800: #723B13;
$yellow-900: #633112;
$green-50: #F3FAF7;
$green-100: #DEF7EC;
$green-200: #BCF0DA;
$green-300: #84E1BC;
$green-400: #31C48D;
$green-500: #0E9F6E;
$green-600: #057A55;
$green-700: #046C4E;
$green-800: #03543F;
$green-900: #014737;
$teal-50: #EDFAFA;
$teal-100: #D5F5F6;
$teal-200: #AFECEF;
$teal-300: #7EDCE2;
$teal-400: #16BDCA;
$teal-500: #0694A2;
$teal-600: #047481;
$teal-700: #036672;
$teal-800: #05505C;
$teal-900: #014451;
$indigo-50: #F0F5FF;
$indigo-100: #E5EDFF;
$indigo-200: #CDDBFE;
$indigo-300: #B46CFC;
$indigo-400: #8DA2FB;
$indigo-500: #6875F5;
$indigo-600: #5850EC;
$indigo-700: #5145CD;
$indigo-800: #42389D;
$indigo-900: #362F78;
$purple-50: #F6F5FF;
$purple-100: #EDEBFE;
$purple-200: #DCD7FE;
$purple-300: #CABFFD;
$purple-400: #AC94FA;
$purple-500: #9061F9;
$purple-600: #7E3AF2;
$purple-700: #6C2BD9;
$purple-800: #5521B5;
$purple-900: #4A1D96;
$pink-50: #FDF2F8;
$pink-100: #FCE8F3;
$pink-200: #FAD1ED;
$pink-300: #F8B4D9;
$pink-400: #F17EB8;
$pink-500: #E74694;
$pink-600: #D61F69;
$pink-700: #BF125D;
$pink-800: #99154B;
$pink-900: #751A3D;
$white: white;
$black: black;
:export {
    orange-25 : $orange-25;
    orange-50 : $orange-50;
    orange-100 : $orange-100;
    orange-200 : $orange-200;
    orange-300 : $orange-300;
    orange-400 : $orange-400;
    orange-500 : $orange-500;
    orange-600 : $orange-600;
    orange-700 : $orange-700;
    orange-800 : $orange-800;
    orange-900 : $orange-900;
    orange-950 : $orange-950;
    orange-990 : $orange-990;
    gray-10 : $gray-10;
    gray-15 : $gray-15;
    gray-25 : $gray-25;
    gray-50 : $gray-50;
    gray-100 : $gray-100;
    gray-200 : $gray-200;
    gray-300 : $gray-300;
    gray-400 : $gray-400;
    gray-500 : $gray-500;
    gray-600 : $gray-600;
    gray-700 : $gray-700;
    gray-800 : $gray-800;
    gray-900 : $gray-900;
    blue-50 : $blue-50;
    blue-100 : $blue-100;
    blue-200 : $blue-200;
    blue-300 : $blue-300;
    blue-400 : $blue-400;
    blue-500 : $blue-500;
    blue-600 : $blue-600;
    blue-700 : $blue-700;
    blue-800 : $blue-800;
    blue-900 : $blue-900;
    red-50 : $red-50;
    red-100 : $red-100;
    red-200 : $red-200;
    red-300 : $red-300;
    red-400 : $red-400;
    red-500 : $red-500;
    red-600 : $red-600;
    red-700 : $red-700;
    red-800 : $red-800;
    red-900 : $red-900;
    red-950 : $red-950;
    red-990 : $red-990;
    twOrange-50 : $twOrange-50;
    twOrange-100 : $twOrange-100;
    twOrange-200 : $twOrange-200;
    twOrange-300 : $twOrange-300;
    twOrange-400 : $twOrange-400;
    twOrange-500 : $twOrange-500;
    twOrange-600 : $twOrange-600;
    twOrange-700 : $twOrange-700;
    twOrange-800 : $twOrange-800;
    twOrange-900 : $twOrange-900;
    yellow-50 : $yellow-50;
    yellow-100 : $yellow-100;
    yellow-200 : $yellow-200;
    yellow-300 : $yellow-300;
    yellow-400 : $yellow-400;
    yellow-500 : $yellow-500;
    yellow-600 : $yellow-600;
    yellow-700 : $yellow-700;
    yellow-800 : $yellow-800;
    yellow-900 : $yellow-900;
    green-50 : $green-50;
    green-100 : $green-100;
    green-200 : $green-200;
    green-300 : $green-300;
    green-400 : $green-400;
    green-500 : $green-500;
    green-600 : $green-600;
    green-700 : $green-700;
    green-800 : $green-800;
    green-900 : $green-900;
    teal-50 : $teal-50;
    teal-100 : $teal-100;
    teal-200 : $teal-200;
    teal-300 : $teal-300;
    teal-400 : $teal-400;
    teal-500 : $teal-500;
    teal-600 : $teal-600;
    teal-700 : $teal-700;
    teal-800 : $teal-800;
    teal-900 : $teal-900;
    indigo-50 : $indigo-50;
    indigo-100 : $indigo-100;
    indigo-200 : $indigo-200;
    indigo-300 : $indigo-300;
    indigo-400 : $indigo-400;
    indigo-500 : $indigo-500;
    indigo-600 : $indigo-600;
    indigo-700 : $indigo-700;
    indigo-800 : $indigo-800;
    indigo-900 : $indigo-900;
    purple-50 : $purple-50;
    purple-100 : $purple-100;
    purple-200 : $purple-200;
    purple-300 : $purple-300;
    purple-400 : $purple-400;
    purple-500 : $purple-500;
    purple-600 : $purple-600;
    purple-700 : $purple-700;
    purple-800 : $purple-800;
    purple-900 : $purple-900;
    pink-50 : $pink-50;
    pink-100 : $pink-100;
    pink-200 : $pink-200;
    pink-300 : $pink-300;
    pink-400 : $pink-400;
    pink-500 : $pink-500;
    pink-600 : $pink-600;
    pink-700 : $pink-700;
    pink-800 : $pink-800;
    pink-900 : $pink-900;
}