.topbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: auto;
    padding-inline: 40px;
    display: inline-flex;
    align-items: center;


    .nav-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 24px;
        padding-left: 32px;
        padding-right: 30px;
        width: auto;
        background-color: transparent;
        gap: 703px;

        .nav-icon {
            display: flex;
            width: 32px;
            height: 32px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            background-color: transparent;
            list-style-type: none;
        }

        .nav-list {
            display: flex;
            align-items: flex-start;
            gap: 24px;
            flex-direction: row;
            list-style-type: none;
            margin: 0;
            padding: 0;

            // li {
            //     color: var(--gray-200, #999);
            //     /* text-sm/font-normal */
            //     font-family: Inter;
            //     font-size: 14px;
            //     font-style: normal;
            //     font-weight: 400;
            //     line-height: 150%;
            //     /* 21px */
            // }

        }
    }
}